 body {
     background-color: #DADADA;
 }

 .ui.menu .item img.logo {
     margin-right: 1.5em;
 }

 .main.container {
     margin-top: 5em;
 }

 .simpletable {
     margin: auto;
 }

 .simpletable:last-child {
     display: none;
 }

 .field.right * {
     float: right;
 }

 div#btnAutoARIMA {
     padding-top: 0.5em;
 }