# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
bottle=0.12.17=pypi_0
numpy=1.17.2=py37haad9e8e_0
numpy-base=1.17.2=py37hde5b4d6_0
openssl=1.1.1d=h7b6447c_3
pandas=0.25.1=py37he6710b0_0
statsmodels=0.10.1=py37hdd07704_0
sympy=1.4=py37_0
xlrd=1.2.0=pypi_0
